# dependencies
node_modules

# production
build

# misc
.DS_Store
markdownlint.json
.jshintrc
.jshintignore
.perttierrc
npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
bigprojects.md

# visual studio code files
.vscode
.code-workspace
tempCodeRunnerFile.js